body {
    font-family: serif;  
}

#container {
    width: 500px;
    margin:50px auto;/* insere margin externa*/
    border:2px solid gray;/* insere borda na caixa*/
    padding: 25px; /* insere margin interna*/
    border-radius: 10px; /* arredonda canto da borda*/
    background-color: rgb(255, 229, 198);
}
img {
   display: inline-block;
   border-radius: 95px;
   width: 85px;
}
nav{  /* h1 e img*/ 
    display: flex;
    align-items:center;
    gap: 15px; /*margin*/

}
.nanum-gothic-regular { /* fonte*/
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#nome{
    position:relative;
}
label{
    display: block;
}



